* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

body {
    margin: 0px;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.employee {
    width: 30%;
    margin: 1.6%;
    background: #fff;
    min-width: 350px;
    border: 1px solid #eaeaea;
    box-shadow: 1px 1px 10px #eaeaea;
    border-radius: 5px;
    overflow: hidden;
}

.employee-detail {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.field {
    color: #999;
}

.value {
    width: 50%;
    white-space: nowrap;
    overflow: scroll;
    text-align: right;
}

.employee-detail:nth-child(odd) {
    background: #eaeaea;
}

.employee-detail:first-child {
    background: #333;
}

.form-wrapper {
    background: #eaeaea;
    padding: 25px;
    margin-top: 10px;
}

body {
    margin: 0px;
}

.form-element select {
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.form-element input {
    height: 40px;
    border-radius: 5px;
    vertical-align: middle;
    margin-left: 10px;
    padding-left: 10px;
    border: none;
}

.form-wrapper button {
    height: 40px;
    padding: 10px 25px;
}

.form-element {
    margin-bottom: 15px;
}

.value img {
    border-radius: 50%;
    border: 1px solid #ededed;
    height: 130px;
    width: 130px;
}

.logo {
    background: #fff url('data:image/svg+xml;utf8,<svg width="268px" height="40px" viewBox="0 0 268 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch --> <title>logo</title> <desc>Created with Sketch.</desc> <defs></defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Artboard-7" transform="translate(-1.000000, -152.000000)"> <g id="logo" transform="translate(1.000000, 152.000000)"> <path d="M157.587912,12.1092683 L148.573723,34.6341463 L144.113577,34.6341463 L134.95854,12.1092683 L139.935124,12.1092683 L146.367124,29.4829268 L152.846073,12.1092683 L157.587912,12.1092683 Z M159.08686,28.5931707 C159.08686,24.5658537 162.044641,22.3180488 165.9414,21.7560976 L172.044758,20.8663415 C173.406276,20.6790244 173.781867,19.9765854 173.781867,19.1804878 C173.781867,16.9795122 172.326451,15.1531707 168.899181,15.1531707 C165.800553,15.1531707 164.063444,17.0731707 163.78175,19.6956098 L159.556349,18.7121951 C160.025838,14.4039024 163.922597,11.4068293 168.805283,11.4068293 C175.565926,11.4068293 178.195064,15.2468293 178.195064,19.6487805 L178.195064,30.9346341 C178.195064,32.9014634 178.38286,34.0721951 178.476758,34.6341463 L174.157458,34.6341463 C174.063561,34.0721951 173.922714,33.2292683 173.922714,31.5902439 C172.936787,33.182439 170.683239,35.3365854 166.645634,35.3365854 C162.044641,35.3365854 159.08686,32.1521951 159.08686,28.5931707 Z M167.255969,31.6370732 C170.871035,31.6370732 173.781867,29.9043902 173.781867,24.9873171 L173.781867,23.9570732 L166.880378,24.9873171 C165.002422,25.2682927 163.593955,26.3453659 163.593955,28.3590244 C163.593955,30.044878 165.002422,31.6370732 167.255969,31.6370732 Z M193.450041,15.4809756 C189.881924,15.4809756 186.595501,18.1034146 186.595501,23.3482927 C186.595501,28.4995122 189.834975,31.262439 193.49699,31.262439 C197.722391,31.262439 199.271705,28.4058537 199.788143,26.6263415 L203.684902,28.3121951 C202.605077,31.5434146 199.365603,35.3365854 193.49699,35.3365854 C186.924143,35.3365854 182.088406,30.1853659 182.088406,23.3482927 C182.088406,16.3239024 187.018041,11.4068293 193.450041,11.4068293 C199.459501,11.4068293 202.558129,15.1531707 203.497107,18.5717073 L199.50645,20.257561 C198.943063,18.0565854 197.299851,15.4809756 193.450041,15.4809756 Z M217.014974,15.4809756 C213.446857,15.4809756 210.160434,18.1034146 210.160434,23.3482927 C210.160434,28.4995122 213.399908,31.262439 217.061923,31.262439 C221.287324,31.262439 222.836638,28.4058537 223.353076,26.6263415 L227.249835,28.3121951 C226.17001,31.5434146 222.930536,35.3365854 217.061923,35.3365854 C210.489076,35.3365854 205.653339,30.1853659 205.653339,23.3482927 C205.653339,16.3239024 210.582974,11.4068293 217.014974,11.4068293 C223.024434,11.4068293 226.123061,15.1531707 227.06204,18.5717073 L223.071383,20.257561 C222.507996,18.0565854 220.864784,15.4809756 217.014974,15.4809756 Z M233.960111,21.0536585 L246.307673,21.0536585 C246.213775,17.822439 244.101075,15.2936585 240.110418,15.2936585 C236.401454,15.2936585 234.147907,18.1502439 233.960111,21.0536585 Z M246.964958,26.9073171 L250.767819,28.2185366 C249.500199,32.1990244 245.885133,35.3365854 240.626856,35.3365854 C234.570447,35.3365854 229.265221,30.9346341 229.265221,23.3014634 C229.265221,16.2302439 234.382651,11.4068293 240.063469,11.4068293 C247.011907,11.4068293 250.908666,16.1834146 250.908666,23.2078049 C250.908666,23.7697561 250.861717,24.3317073 250.814768,24.6126829 L233.819264,24.6126829 C233.913162,28.64 236.823994,31.4497561 240.626856,31.4497561 C244.28887,31.4497561 246.119878,29.4360976 246.964958,26.9073171 Z M267.99465,11.875122 L267.99465,16.5580488 C267.337365,16.4643902 266.68008,16.417561 266.069745,16.417561 C262.360781,16.417561 259.872489,18.3843902 259.872489,23.3482927 L259.872489,34.6341463 L255.459292,34.6341463 L255.459292,12.5970732 L259.778591,12.1092683 L259.778591,16.0429268 C261.421803,12.577561 264.238737,11.7346341 266.539234,11.7346341 C267.14957,11.7346341 267.759905,11.8282927 267.99465,11.875122 Z" id="vaccer" fill="#2D2D2D"></path> <path d="M55.0593285,34.6341463 L48.8151241,34.6341463 L48.8151241,12.2926889 L55.0593285,11.5941463 L55.0593285,34.6341463 Z M48.0639416,4.05463415 C48.0639416,1.9004878 49.8010511,0.167804878 51.9137518,0.167804878 C54.0734015,0.167804878 55.763562,1.9004878 55.763562,4.05463415 C55.763562,6.11512195 54.0734015,7.84780488 51.9137518,7.84780488 C49.8010511,7.84780488 48.0639416,6.11512195 48.0639416,4.05463415 Z M66.1648732,21.3814634 L66.1648732,34.6341463 L59.9206688,34.6341463 L59.9206688,12.2975717 L65.9770776,11.5941463 L65.9770776,14.9268174 C67.3855448,12.5385247 70.1555302,10.9853659 72.6438221,10.9853659 C78.3715886,10.9853659 81.0007272,15.0595122 81.0007272,20.1170732 L81.0007272,34.6341463 L74.7565229,34.6341463 L74.7565229,21.1941463 C74.7565229,18.6185366 73.4889024,16.604878 70.4841725,16.604878 C67.761136,16.604878 66.1648732,18.7121951 66.1648732,21.3814634 Z M91.7792379,21.3814581 L91.7792379,34.634141 L85.5350335,34.634141 L85.5350335,12.2975663 L91.5914423,11.594141 L91.5914423,14.926812 C92.9999094,12.5385193 95.7698948,10.9853605 98.2581868,10.9853605 C103.985953,10.9853605 106.615092,15.0595068 106.615092,20.1170678 L106.615092,34.634141 L100.370888,34.634141 L100.370888,21.194141 C100.370888,18.6185312 99.1032671,16.6048727 96.0985372,16.6048727 C93.3755007,16.6048727 91.7792379,18.7121898 91.7792379,21.3814581 Z M121.52189,29.6702439 C124.573569,29.6702439 127.390503,27.4692683 127.390503,23.1141463 C127.390503,18.7590244 124.573569,16.5580488 121.52189,16.5580488 C118.470211,16.5580488 115.653277,18.7590244 115.653277,23.1141463 C115.653277,27.422439 118.470211,29.6702439 121.52189,29.6702439 Z M121.52189,10.8917073 C128.423379,10.8917073 133.634707,15.9960976 133.634707,23.1141463 C133.634707,30.1853659 128.423379,35.3365854 121.52189,35.3365854 C114.620401,35.3365854 109.409072,30.1853659 109.409072,23.1141463 C109.409072,15.9960976 114.620401,10.8917073 121.52189,10.8917073 Z" id="inno" fill="#D41919"></path> <g id="Icon" transform="translate(0.000000, 2.926829)" fill="#D41919"> <path d="M2.52893131,0.00221915304 L19.070567,0.00221915304 C19.070567,0.00221915304 20.0718767,-0.0776703565 22.1145484,0.721224739 L10.2990943,16.8988504 C10.2990943,16.8988504 9.97867523,15.660563 9.37788943,14.9415574 L7.53547964,12.5049274 L0.726573908,3.47741282 C0.726573908,3.47741282 -0.0744738256,2.47879395 0.00563094779,1.48017508 C0.00563094779,1.48017508 0.0857357211,0.00221915304 2.52893131,0.00221915304 Z" id="Shape" fill-rule="nonzero"></path> <path d="M11.1802468,17.8974693 L23.2760676,1.32039606 C23.2760676,1.32039606 23.9970106,1.71984361 24.4375868,2.0793464 C24.4375868,2.0793464 25.5590536,2.91818625 26.1197871,3.83691561 L27.361411,5.55454007 L28.4428255,7.07244075 L29.8046066,8.94984422 L31.5268593,11.3864743 L34.0101072,14.8616679 C34.0101072,14.8616679 34.5708406,15.6206183 34.7711026,16.1798448 C34.7711026,16.1798448 35.1315741,17.0586294 35.2116788,17.937414 L11.1802468,17.937414 L11.1802468,17.8974693 Z" id="Shape"></path> <path d="M11.1802468,19.1757014 L23.2760676,35.7527747 C23.2760676,35.7527747 23.9970106,35.3533271 24.4375868,34.9938243 C24.4375868,34.9938243 25.5590536,34.1549845 26.1197871,33.2362551 L27.361411,31.5186307 L28.4428255,30.00073 L29.8046066,28.1233265 L31.5268593,25.6866965 L34.0101072,22.2115028 C34.0101072,22.2115028 34.5708406,21.4525525 34.7711026,20.8933259 C34.7711026,20.8933259 35.1315741,20.0145413 35.2116788,19.1357567 L11.1802468,19.1357567 L11.1802468,19.1757014 Z" id="Shape"></path> <path d="M2.56898369,37.0709516 L19.1106194,37.0709516 C19.1106194,37.0709516 20.1119291,37.1508411 22.1546008,36.351946 L10.3791991,20.1343756 C10.3791991,20.1343756 10.05878,21.372663 9.4579942,22.0916685 L7.61558442,24.5282986 L0.806678681,33.5558132 C0.806678681,33.5558132 0.00563094779,34.554432 0.0857357211,35.5530509 C0.0857357211,35.5530509 0.125788108,37.0709516 2.56898369,37.0709516 Z" id="Shape"></path> </g> </g> </g> </g> </svg>') center no-repeat;
    color: white;
    height: 50px;
    width: 325px;
    margin-top: 10px;
}