<!DOCTYPE html>
<html>

<head>
    <title>Employee Tree</title>
    <link rel="stylesheet" type="text/css" href="/CSS/employeeTree.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="root">
        <%- innerHTML %>
    </div>
</body>

</html>