<!DOCTYPE html>
<html>

<head>
    <title><%= pageTitle %></title>
    <% if(cssPath){ %>
        <link href="https://fonts.googleapis.com/css?family=Arimo&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="<%= cssPath %>" />
	<% } %>
</head>

<body>
    <div id="root">
        <%- innerHTML %>
    </div>
    <% if(jsPath){ %>
		<script type="text/javascript" src="<%= jsPath %>"></script>
	<% } %>
</body>

</html>